# State file created:  2023/10/15 19:46:27
# CFX-20.1

CALCULATOR:
  Case Name = Case case7_1.4MPa 5
  Expression = Pressure
  Function = probe
  Location = Probe Point
  Verbose = Off
END
CHART:Mach along radial axis exit plane
  Chart Axes = Both
  Chart Axes Font = Tahoma, 10, False, False, False, False
  Chart Axes Titles Font = Tahoma, 10, True, False, False, False
  Chart Grid Line Width = 1
  Chart Horizontal Grid = On
  Chart Legend = On
  Chart Legend Font = Tahoma, 8, False, False, False, False
  Chart Legend Inside = Inside Chart
  Chart Legend Justification = Center
  Chart Legend Position = Bottom
  Chart Legend Width Height = 0.2 , 0.4
  Chart Legend X Justification = Right
  Chart Legend XY Position = 0.73 , 0.275
  Chart Legend Y Justification = Center
  Chart Line Width = 2
  Chart Lines Order = Series 1,Chart Line 1,Series 2,Chart Line 2
  Chart Minor Grid = Off
  Chart Minor Grid Line Width = 1
  Chart Print Base Height = 700
  Chart Print Base Width = 700
  Chart Symbol Size = 5
  Chart Text Colour = White
  Chart Title = Mach along radial axis @ exit plane
  Chart Title Font = Tahoma, 12, True, False, False, False
  Chart Title Visibility = On
  Chart Type = XY
  Chart Vertical Grid = On
  Chart Viewport Colour = Yellow
  Chart X Axis Automatic Number Formatting = On
  Chart X Axis Label = X Axis <units>
  Chart X Axis Number Format = %10.3e
  Chart Y Axis Automatic Number Formatting = On
  Chart Y Axis Label = r (cm)
  Chart Y Axis Number Format = %10.3e
  Default Chart X Variable = Mach Number
  Default Chart Y Variable = Radial Angular Coordinate
  Default Difference Line Calculation = From Points
  Default Histogram Y Axis Weighting = None
  Default Time Chart Variable = Pressure
  Default Time Chart X Expression = Time
  Default Time Variable Absolute Value = Off
  Default Time Variable Boundary Values = Conservative
  Default X Variable Absolute Value = Off
  Default X Variable Boundary Values = Conservative
  Default Y Variable Absolute Value = Off
  Default Y Variable Boundary Values = Conservative
  FFT Full Input Range = On
  FFT Max = 0.0
  FFT Min = 0.0
  FFT Subtract Mean = Off
  FFT Window Type = Hanning
  FFT X Function = Frequency
  FFT Y Function = Power Spectral Density
  Histogram Automatic Divisions = Automatic
  Histogram Divisions = -1.0,1.0
  Histogram Divisions Count = 10
  Histogram Y Axis Value = Count
  Is FFT Chart = Off
  Max X = 2.7
  Max Y = 1.0
  Min X = 0.55
  Min Y = -1.0
  Time Chart Keep Single Case = False
  Use Data For X Axis Labels = On
  Use Data For Y Axis Labels = Off
  X Axis Automatic Range = Off
  X Axis Inverted = Off
  X Axis Logarithmic Scaling = Off
  Y Axis Automatic Range = On
  Y Axis Inverted = Off
  Y Axis Logarithmic Scaling = Off
  CHART SERIES:Series 1
    Add Chart Line Label = False
    Add Chart Line Label Border = False
    Chart Contour Data Source = Chart Points
    Chart Contour Level Count = 11
    Chart Contour Range Type = Local
    Chart Contour Range Value List = 0.0, 1.0
    Chart Data Source = Chart Points
    Chart Line Custom Data Selection = Off
    Chart Line Label Number Automatic Formatting = true
    Chart Line Label Number Format = %10.3e
    Chart Plot Option = Scatter Points
    Chart Series Type = Regular
    Chart X Variable = Chart Count
    Chart Y Variable = Absolute Pressure
    Histogram Y Axis Weighting = None
    Location = /LINE:Line 1
    Monitor Data Source = Case
    Monitor Data X Variable Absolute Value = Off
    Monitor Data Y Variable Absolute Value = Off
    Operating Point Data Case = Case case7_1.4MPa 5
    Operating Point Data Source = File
    Series Name = Series 1
    Time Chart Expression = Time
    Time Chart Type = Point
    Time Chart Variable = Absolute Pressure
    Time Chart X Expression = Time
    Time Variable Absolute Value = Off
    Time Variable Boundary Values = Conservative
    X Variable Absolute Value = Off
    X Variable Boundary Values = Conservative
    Y Variable Absolute Value = Off
    Y Variable Boundary Values = Conservative
    CHART LINE:Chart Line 1
      Auto Chart Line Colour = On
      Auto Chart Symbol Colour = On
      Case Name = Case case7_1.4MPa 5
      Category Values = 0
      Chart FFT Line Type = Bars
      Chart Line Colour = 1.0, 0.0, 0.0
      Chart Line Style = Automatic
      Chart Line Type = Lines
      Chart Line Visibility = Off
      Chart Symbol Colour = 0.0, 1.0, 0.0
      Chart Symbol Style = Automatic
      Fill Area = On
      Fill Area Options = Automatic
      Is Valid = True
      Line Name = Series 1
      Use Automatic Line Naming = On
    END
  END
  CHART SERIES:Series 2
    Add Chart Line Label = False
    Add Chart Line Label Border = False
    Chart Contour Data Source = Chart Points
    Chart Contour Level Count = 11
    Chart Contour Range Type = Local
    Chart Contour Range Value List = 0.0, 1.0
    Chart Data Source = Chart Points
    Chart Line Custom Data Selection = Off
    Chart Line Label Number Automatic Formatting = true
    Chart Line Label Number Format = %10.3e
    Chart Plot Option = Scatter Points
    Chart Series Type = Regular
    Chart X Variable = Chart Count
    Chart Y Variable = Absolute Pressure
    Histogram Y Axis Weighting = None
    Location = /LINE:Line 2
    Monitor Data Source = Case
    Monitor Data X Variable Absolute Value = Off
    Monitor Data Y Variable Absolute Value = Off
    Operating Point Data Case = Case case7_1.4MPa 5
    Operating Point Data Source = File
    Series Name = PR 13.82
    Time Chart Expression = Time
    Time Chart Type = Point
    Time Chart Variable = Absolute Pressure
    Time Chart X Expression = Time
    Time Variable Absolute Value = Off
    Time Variable Boundary Values = Conservative
    X Variable Absolute Value = Off
    X Variable Boundary Values = Conservative
    Y Variable Absolute Value = Off
    Y Variable Boundary Values = Conservative
    CHART LINE:Chart Line 2
      Auto Chart Line Colour = On
      Auto Chart Symbol Colour = On
      Case Name = Case case7_1.4MPa 5
      Category Values = 0
      Chart FFT Line Type = Bars
      Chart Line Colour = 1.0, 0.0, 0.0
      Chart Line Style = Automatic
      Chart Line Type = Lines
      Chart Line Visibility = On
      Chart Symbol Colour = 0.0, 1.0, 0.0
      Chart Symbol Style = Automatic
      Fill Area = On
      Fill Area Options = Automatic
      Is Valid = True
      Line Name = PR 13.82
      Use Automatic Line Naming = On
    END
  END
  OBJECT REPORT OPTIONS:
    Automatic Item = None
    Generation = Manual
    Report Caption = Mach number distribution along the nozzle exit plane
  END
END
CHART:Pressure along axis
  Chart Axes = Both
  Chart Axes Font = Tahoma, 10, False, False, False, False
  Chart Axes Titles Font = Tahoma, 10, True, False, False, False
  Chart Grid Line Width = 1
  Chart Horizontal Grid = On
  Chart Legend = On
  Chart Legend Font = Tahoma, 8, False, False, False, False
  Chart Legend Inside = Outside Chart
  Chart Legend Justification = Center
  Chart Legend Position = Bottom
  Chart Legend Width Height = 0.2 , 0.4
  Chart Legend X Justification = Right
  Chart Legend XY Position = 0.73 , 0.275
  Chart Legend Y Justification = Center
  Chart Line Width = 2
  Chart Lines Order = Series 1,Chart Line 1,Series 2,Chart Line 2
  Chart Minor Grid = Off
  Chart Minor Grid Line Width = 1
  Chart Print Base Height = 700
  Chart Print Base Width = 700
  Chart Symbol Size = 4
  Chart Text Colour = White
  Chart Title = Pressure vs x\L
  Chart Title Font = Tahoma, 12, True, False, False, False
  Chart Title Visibility = On
  Chart Type = XY
  Chart Vertical Grid = On
  Chart Viewport Colour = Yellow
  Chart X Axis Automatic Number Formatting = On
  Chart X Axis Label = X Axis <units>
  Chart X Axis Number Format = %10.3e
  Chart Y Axis Automatic Number Formatting = On
  Chart Y Axis Label = Y Axis <units>
  Chart Y Axis Number Format = %10.3e
  Default Chart X Variable = X
  Default Chart Y Variable = Pressure
  Default Difference Line Calculation = From Points
  Default Histogram Y Axis Weighting = None
  Default Time Chart Variable = Pressure
  Default Time Chart X Expression = Time
  Default Time Variable Absolute Value = Off
  Default Time Variable Boundary Values = Conservative
  Default X Variable Absolute Value = Off
  Default X Variable Boundary Values = Conservative
  Default Y Variable Absolute Value = Off
  Default Y Variable Boundary Values = Conservative
  FFT Full Input Range = On
  FFT Max = 0.0
  FFT Min = 0.0
  FFT Subtract Mean = Off
  FFT Window Type = Hanning
  FFT X Function = Frequency
  FFT Y Function = Power Spectral Density
  Histogram Automatic Divisions = Automatic
  Histogram Divisions = -1.0,1.0
  Histogram Divisions Count = 10
  Histogram Y Axis Value = Count
  Is FFT Chart = Off
  Max X = 1.0
  Max Y = 1.0
  Min X = -1.0
  Min Y = -1.0
  Time Chart Keep Single Case = False
  Use Data For X Axis Labels = On
  Use Data For Y Axis Labels = On
  X Axis Automatic Range = On
  X Axis Inverted = Off
  X Axis Logarithmic Scaling = Off
  Y Axis Automatic Range = On
  Y Axis Inverted = Off
  Y Axis Logarithmic Scaling = Off
  CHART SERIES:Series 1
    Add Chart Line Label = False
    Add Chart Line Label Border = False
    Chart Contour Data Source = Chart Points
    Chart Contour Level Count = 11
    Chart Contour Range Type = Local
    Chart Contour Range Value List = 0.0, 1.0
    Chart Data Source = Chart Points
    Chart Line Custom Data Selection = Off
    Chart Line Label Number Automatic Formatting = true
    Chart Line Label Number Format = %10.3e
    Chart Plot Option = Scatter Points
    Chart Series Type = Regular
    Chart X Variable = Chart Count
    Chart Y Variable = Absolute Pressure
    Histogram Y Axis Weighting = None
    Location = /POLYLINE:Polyline axis
    Monitor Data Source = Case
    Monitor Data X Variable Absolute Value = Off
    Monitor Data Y Variable Absolute Value = Off
    Operating Point Data Case = Case case7_1.4MPa 5
    Operating Point Data Source = File
    Series Name = Series 1
    Time Chart Expression = Time
    Time Chart Type = Point
    Time Chart Variable = Absolute Pressure
    Time Chart X Expression = Time
    Time Variable Absolute Value = Off
    Time Variable Boundary Values = Conservative
    X Variable Absolute Value = Off
    X Variable Boundary Values = Conservative
    Y Variable Absolute Value = Off
    Y Variable Boundary Values = Conservative
    CHART LINE:Chart Line 1
      Auto Chart Line Colour = On
      Auto Chart Symbol Colour = On
      Case Name = Case case7_1.4MPa 5
      Category Values = 0
      Chart FFT Line Type = Bars
      Chart Line Colour = 1.0, 0.0, 0.0
      Chart Line Style = Automatic
      Chart Line Type = Lines
      Chart Line Visibility = On
      Chart Symbol Colour = 0.0, 1.0, 0.0
      Chart Symbol Style = Automatic
      Fill Area = On
      Fill Area Options = Automatic
      Is Valid = True
      Line Name = Series 1
      Use Automatic Line Naming = On
    END
  END
  CHART SERIES:Series 2
    Add Chart Line Label = False
    Add Chart Line Label Border = False
    Chart Contour Data Source = Chart Points
    Chart Contour Level Count = 11
    Chart Contour Range Type = Local
    Chart Contour Range Value List = 0.0, 1.0
    Chart Data Source = Chart Points
    Chart Line Custom Data Selection = Off
    Chart Line Label Number Automatic Formatting = true
    Chart Line Label Number Format = %10.3e
    Chart Plot Option = Scatter Points
    Chart Series Type = Regular
    Chart X Variable = Chart Count
    Histogram Y Axis Weighting = None
    Location = /LINE:axis along spike
    Monitor Data Source = Case
    Monitor Data X Variable Absolute Value = Off
    Monitor Data Y Variable Absolute Value = Off
    Operating Point Data Case = Case case7_1.4MPa 5
    Operating Point Data Source = File
    Series Name = Series 2
    Time Chart Expression = Time
    Time Chart Type = Point
    Time Chart X Expression = Time
    Time Variable Absolute Value = False
    Time Variable Boundary Values = Conservative
    X Variable Absolute Value = False
    X Variable Boundary Values = Conservative
    Y Variable Absolute Value = False
    Y Variable Boundary Values = Conservative
    CHART LINE:Chart Line 2
      Auto Chart Line Colour = On
      Auto Chart Symbol Colour = On
      Case Name = Case case7_1.4MPa 5
      Category Values = 0
      Chart FFT Line Type = Bars
      Chart Line Colour = 1.0, 0.0, 0.0
      Chart Line Style = Automatic
      Chart Line Type = Lines
      Chart Line Visibility = On
      Chart Symbol Colour = 0.0, 1.0, 0.0
      Chart Symbol Style = Automatic
      Fill Area = On
      Fill Area Options = Automatic
      Is Valid = True
      Line Name = Series 2
      Use Automatic Line Naming = On
    END
  END
  OBJECT REPORT OPTIONS:
    Automatic Item = None
    Generation = Manual
  END
END
CLIP PLANE:Clip Plane 1
  Flip Normal = Off
  Normal = 1 , 0 , 0
  Option = XY Plane
  Point = 0 [cm], 0 [cm], 0 [cm]
  Point 1 = 0 [cm], 0 [cm], 0 [cm]
  Point 2 = 1 [cm], 0 [cm], 0 [cm]
  Point 3 = 0 [cm], 1 [cm], 0 [cm]
  X = 0.0 [cm]
  Y = 0.0 [cm]
  Z = 1 [cm]
END
COMMENT:User Data
  Comment Exists = True
  Comment Heading = User Data
  Heading Level = 1
END
CONTOUR:Mach
  Apply Instancing Transform = On
  Clip Contour = Off
  Colour Map = Default Colour Map
  Colour Scale = Linear
  Colour Variable = Mach Number
  Colour Variable Boundary Values = Conservative
  Constant Contour Colour = Off
  Contour Range = Global
  Culling Mode = No Culling
  Domain List = /DOMAIN GROUP:All Domains
  Draw Contours = On
  Font = Sans Serif
  Fringe Fill = On
  Instancing Transform = /DEFAULT INSTANCE TRANSFORM:Default Transform
  Lighting = On
  Line Colour = 0, 0, 0
  Line Colour Mode = Default
  Line Width = 1
  Location List = periodic 1
  Max = 0.0
  Min = 0.0
  Number of Contours = 50
  Show Numbers = Off
  Specular Lighting = On
  Surface Drawing = Smooth Shading
  Text Colour = 0, 0, 0
  Text Colour Mode = Default
  Text Height = 0.024
  Transparency = 0.0
  Use Face Values = Off
  Value List = 0,1
  Visibility = Off
  OBJECT VIEW TRANSFORM:
    Apply Reflection = Off
    Apply Rotation = Off
    Apply Scale = Off
    Apply Translation = Off
    Principal Axis = Z
    Reflection Plane Option = XY Plane
    Rotation Angle = 0.0 [degree]
    Rotation Axis From = 0 [cm], 0 [cm], 0 [cm]
    Rotation Axis To = 0 [cm], 0 [cm], 0 [cm]
    Rotation Axis Type = Principal Axis
    Scale Vector = 1 , 1 , 1
    Translation Vector = 0 [cm], 0 [cm], 0 [cm]
    X = 0.0 [m]
    Y = 0.0 [m]
    Z = 0.0 [m]
  END
END
CONTOUR:Press
  Apply Instancing Transform = On
  Clip Contour = Off
  Colour Map = Default Colour Map
  Colour Scale = Linear
  Colour Variable = Pressure
  Colour Variable Boundary Values = Conservative
  Constant Contour Colour = Off
  Contour Range = Global
  Culling Mode = No Culling
  Domain List = /DOMAIN GROUP:All Domains
  Draw Contours = On
  Font = Sans Serif
  Fringe Fill = On
  Instancing Transform = /DEFAULT INSTANCE TRANSFORM:Default Transform
  Lighting = On
  Line Colour = 0, 0, 0
  Line Colour Mode = Default
  Line Width = 1
  Location List = periodic 1
  Max = 0.0 [dyne cm^-2]
  Min = 0.0 [dyne cm^-2]
  Number of Contours = 500
  Show Numbers = Off
  Specular Lighting = On
  Surface Drawing = Smooth Shading
  Text Colour = 0, 0, 0
  Text Colour Mode = Default
  Text Height = 0.024
  Transparency = 0.0
  Use Face Values = Off
  Value List = 0 [dyne cm^-2],1 [dyne cm^-2]
  Visibility = Off
  OBJECT VIEW TRANSFORM:
    Apply Reflection = Off
    Apply Rotation = Off
    Apply Scale = Off
    Apply Translation = Off
    Principal Axis = Z
    Reflection Plane Option = XY Plane
    Rotation Angle = 0.0 [radian]
    Rotation Axis From = 0 [cm], 0 [cm], 0 [cm]
    Rotation Axis To = 0 [cm], 0 [cm], 0 [cm]
    Rotation Axis Type = Principal Axis
    Scale Vector = 1 , 1 , 1
    Translation Vector = 0 [cm], 0 [cm], 0 [cm]
    X = 0.0 [cm]
    Y = 0.0 [cm]
    Z = 0.0 [cm]
  END
END
DATA READER:
  Active Case Name = Case case7_1.4MPa 5
  Append Results = False
  Apply X Offset = false
  Apply Y Offset = false
  Apply Z Offset = false
  Clear All Objects = False
  Construct Variables From Fourier Coefficients = true
  Current Case List = Case case7_1.4MPa 5
  Current Case Name = C:/Users/HP/Desktop/aerospike/case7_1.4MPa-5.cdat
  Current Results File = C:/Users/HP/Desktop/aerospike/case7_1.4MPa-5.cdat
  Current Timestep = -1
  Current Timevalue = 0
  Edit Case Names = false
  File Angle Units = rad
  File Chemical Amount Units = kmol
  File Current Units = A
  File Length Units = m
  File Light Units = cd
  File Mass Units = kg
  File Solid Angle Units = sr
  File Temperature Units = K
  File Time Units = s
  Force File Reload = False
  Keep Camera Position = True
  Load Particle Tracks = true
  Multi Configuration File Load Option = Last Case
  Open in New View = true
  Open to Compare = false
  Reference Acoustic Pressure = 2.0e-5 [Pa]
  Reference Length = 1.0 [m]
  Reference Velocity = 1.0 [m s^-1]
  Timestep Match Criterion = Same Step
  Timestep Sync Mode = By Time Value
  Timevalue Match Criterion = Same Value
  CASE:Case case7_1.4MPa 5
    Construct Variables From Fourier Coefficients = true
    Current Case Name = C:/Users/HP/Desktop/aerospike/case7_1.4MPa-5.cdat
    Current Results File = C:/Users/HP/Desktop/aerospike/case7_1.4MPa-5.cdat
    Current Timestep = -1
    Current Timevalue = 0
    File Angle Units = rad
    File Chemical Amount Units = kmol
    File Current Units = A
    File Length Units = m
    File Light Units = cd
    File Mass Units = kg
    File Solid Angle Units = sr
    File Temperature Units = K
    File Time Units = s
    Multi Configuration File Load Option = Last Case
    BOUNDARY:axis
      Apply Instancing Transform = On
      Apply Texture = Off
      Blend Texture = On
      Colour = 0.2, 0.5, 1
      Colour Map = Default Colour Map
      Colour Mode = Constant
      Colour Scale = Linear
      Colour Variable Boundary Values = Hybrid
      Culling Mode = No Culling
      Draw Faces = On
      Draw Lines = Off
      Instancing Transform = Default Transform
      Lighting = true
      Line Colour = 0, 0, 0
      Line Colour Mode = Default
      Line Width = 1
      Range = Global
      Render Edge Angle = 0 [degree]
      Specular Lighting = On
      Surface Drawing = Smooth Shading
      Texture Angle = 0
      Texture Direction = 0.0, 1.0, 0.0
      Texture Material = Metal
      Texture Position = 0.0, 0.0
      Texture Scale = 1.0
      Texture Type = Predefined
      Tile Texture = Off
      Transform Texture = Off
      Transparency = 0.0
      Visibility = false
    END
    BOUNDARY:cowl_wall
      Apply Instancing Transform = On
      Apply Texture = Off
      Blend Texture = On
      Colour = 0.2, 0.5, 1
      Colour Map = Default Colour Map
      Colour Mode = Constant
      Colour Scale = Linear
      Colour Variable Boundary Values = Hybrid
      Culling Mode = No Culling
      Draw Faces = On
      Draw Lines = Off
      Instancing Transform = Default Transform
      Lighting = true
      Line Colour = 0, 0, 0
      Line Colour Mode = Default
      Line Width = 1
      Range = Global
      Render Edge Angle = 0 [degree]
      Specular Lighting = On
      Surface Drawing = Smooth Shading
      Texture Angle = 0
      Texture Direction = 0.0, 1.0, 0.0
      Texture Material = Metal
      Texture Position = 0.0, 0.0
      Texture Scale = 1.0
      Texture Type = Predefined
      Tile Texture = Off
      Transform Texture = Off
      Transparency = 0.0
      Visibility = false
    END
    BOUNDARY:farfield_inlet
      Apply Instancing Transform = On
      Apply Texture = Off
      Blend Texture = On
      Colour = 0.2, 0.5, 1
      Colour Map = Default Colour Map
      Colour Mode = Constant
      Colour Scale = Linear
      Colour Variable Boundary Values = Hybrid
      Culling Mode = No Culling
      Draw Faces = On
      Draw Lines = Off
      Instancing Transform = Default Transform
      Lighting = true
      Line Colour = 0, 0, 0
      Line Colour Mode = Default
      Line Width = 1
      Range = Global
      Render Edge Angle = 0 [degree]
      Specular Lighting = On
      Surface Drawing = Smooth Shading
      Texture Angle = 0
      Texture Direction = 0.0, 1.0, 0.0
      Texture Material = Metal
      Texture Position = 0.0, 0.0
      Texture Scale = 1.0
      Texture Type = Predefined
      Tile Texture = Off
      Transform Texture = Off
      Transparency = 0.0
      Visibility = false
    END
    BOUNDARY:farfield_upper
      Apply Instancing Transform = On
      Apply Texture = Off
      Blend Texture = On
      Colour = 0.2, 0.5, 1
      Colour Map = Default Colour Map
      Colour Mode = Constant
      Colour Scale = Linear
      Colour Variable Boundary Values = Hybrid
      Culling Mode = No Culling
      Draw Faces = On
      Draw Lines = Off
      Instancing Transform = Default Transform
      Lighting = true
      Line Colour = 0, 0, 0
      Line Colour Mode = Default
      Line Width = 1
      Range = Global
      Render Edge Angle = 0 [degree]
      Specular Lighting = On
      Surface Drawing = Smooth Shading
      Texture Angle = 0
      Texture Direction = 0.0, 1.0, 0.0
      Texture Material = Metal
      Texture Position = 0.0, 0.0
      Texture Scale = 1.0
      Texture Type = Predefined
      Tile Texture = Off
      Transform Texture = Off
      Transparency = 0.0
      Visibility = false
    END
    BOUNDARY:inlet
      Apply Instancing Transform = On
      Apply Texture = Off
      Blend Texture = On
      Colour = 0.2, 0.5, 1
      Colour Map = Default Colour Map
      Colour Mode = Constant
      Colour Scale = Linear
      Colour Variable Boundary Values = Hybrid
      Culling Mode = No Culling
      Draw Faces = On
      Draw Lines = Off
      Instancing Transform = Default Transform
      Lighting = true
      Line Colour = 0, 0, 0
      Line Colour Mode = Default
      Line Width = 1
      Range = Global
      Render Edge Angle = 0 [degree]
      Specular Lighting = On
      Surface Drawing = Smooth Shading
      Texture Angle = 0
      Texture Direction = 0.0, 1.0, 0.0
      Texture Material = Metal
      Texture Position = 0.0, 0.0
      Texture Scale = 1.0
      Texture Type = Predefined
      Tile Texture = Off
      Transform Texture = Off
      Transparency = 0.0
      Visibility = false
    END
    BOUNDARY:outlet
      Apply Instancing Transform = On
      Apply Texture = Off
      Blend Texture = On
      Colour = 0.2, 0.5, 1
      Colour Map = Default Colour Map
      Colour Mode = Constant
      Colour Scale = Linear
      Colour Variable Boundary Values = Hybrid
      Culling Mode = No Culling
      Draw Faces = On
      Draw Lines = Off
      Instancing Transform = Default Transform
      Lighting = true
      Line Colour = 0, 0, 0
      Line Colour Mode = Default
      Line Width = 1
      Range = Global
      Render Edge Angle = 0 [degree]
      Specular Lighting = On
      Surface Drawing = Smooth Shading
      Texture Angle = 0
      Texture Direction = 0.0, 1.0, 0.0
      Texture Material = Metal
      Texture Position = 0.0, 0.0
      Texture Scale = 1.0
      Texture Type = Predefined
      Tile Texture = Off
      Transform Texture = Off
      Transparency = 0.0
      Visibility = false
    END
    BOUNDARY:periodic 1
      Apply Instancing Transform = On
      Apply Texture = Off
      Blend Texture = On
      Colour = 0.2, 0.5, 1
      Colour Map = Default Colour Map
      Colour Mode = Constant
      Colour Scale = Linear
      Colour Variable Boundary Values = Hybrid
      Culling Mode = No Culling
      Draw Faces = On
      Draw Lines = Off
      Instancing Transform = Default Transform
      Lighting = true
      Line Colour = 0, 0, 0
      Line Colour Mode = Default
      Line Width = 1
      Range = Global
      Render Edge Angle = 0 [degree]
      Specular Lighting = On
      Surface Drawing = Smooth Shading
      Texture Angle = 0
      Texture Direction = 0.0, 1.0, 0.0
      Texture Material = Metal
      Texture Position = 0.0, 0.0
      Texture Scale = 1.0
      Texture Type = Predefined
      Tile Texture = Off
      Transform Texture = Off
      Transparency = 0.0
      Visibility = false
    END
    BOUNDARY:periodic 1 shadow
      Apply Instancing Transform = On
      Apply Texture = Off
      Blend Texture = On
      Colour = 0.2, 0.5, 1
      Colour Map = Default Colour Map
      Colour Mode = Constant
      Colour Scale = Linear
      Colour Variable Boundary Values = Hybrid
      Culling Mode = No Culling
      Draw Faces = On
      Draw Lines = Off
      Instancing Transform = Default Transform
      Lighting = true
      Line Colour = 0, 0, 0
      Line Colour Mode = Default
      Line Width = 1
      Range = Global
      Render Edge Angle = 0 [degree]
      Specular Lighting = On
      Surface Drawing = Smooth Shading
      Texture Angle = 0
      Texture Direction = 0.0, 1.0, 0.0
      Texture Material = Metal
      Texture Position = 0.0, 0.0
      Texture Scale = 1.0
      Texture Type = Predefined
      Tile Texture = Off
      Transform Texture = Off
      Transparency = 0.0
      Visibility = false
    END
    BOUNDARY:spike_wall
      Apply Instancing Transform = On
      Apply Texture = Off
      Blend Texture = On
      Colour = 0.2, 0.5, 1
      Colour Map = Default Colour Map
      Colour Mode = Constant
      Colour Scale = Linear
      Colour Variable Boundary Values = Hybrid
      Culling Mode = No Culling
      Draw Faces = On
      Draw Lines = Off
      Instancing Transform = Default Transform
      Lighting = true
      Line Colour = 0, 0, 0
      Line Colour Mode = Default
      Line Width = 1
      Range = Global
      Render Edge Angle = 0 [degree]
      Specular Lighting = On
      Surface Drawing = Smooth Shading
      Texture Angle = 0
      Texture Direction = 0.0, 1.0, 0.0
      Texture Material = Metal
      Texture Position = 0.0, 0.0
      Texture Scale = 1.0
      Texture Type = Predefined
      Tile Texture = Off
      Transform Texture = Off
      Transparency = 0.0
      Visibility = false
    END
    BOUNDARY:truncated_wall
      Apply Instancing Transform = On
      Apply Texture = Off
      Blend Texture = On
      Colour = 0.2, 0.5, 1
      Colour Map = Default Colour Map
      Colour Mode = Constant
      Colour Scale = Linear
      Colour Variable Boundary Values = Hybrid
      Culling Mode = No Culling
      Draw Faces = On
      Draw Lines = Off
      Instancing Transform = Default Transform
      Lighting = true
      Line Colour = 0, 0, 0
      Line Colour Mode = Default
      Line Width = 1
      Range = Global
      Render Edge Angle = 0 [degree]
      Specular Lighting = On
      Surface Drawing = Smooth Shading
      Texture Angle = 0
      Texture Direction = 0.0, 1.0, 0.0
      Texture Material = Metal
      Texture Position = 0.0, 0.0
      Texture Scale = 1.0
      Texture Type = Predefined
      Tile Texture = Off
      Transform Texture = Off
      Transparency = 0.0
      Visibility = false
    END
    DOMAIN:unspecified
      Angle Definition Method = Instances in 360
      Apply Reflection = false
      Apply Rotation = true
      Apply Translation = false
      Axis From File = Custom
      Background Mesh Density = 2000
      Background Mesh Generation Method = Quasi Orthogonal
      Blade Aligned Variable Available = false
      Create Additional Turbo Variables = false
      Do Cylindrical Initialization = False
      Domain Type = Normal
      Full Circle = Off
      Hub Curve Mode = From Turbo Region
      Inlet Curve Mode = From Turbo Region
      Inlet Region = /DATA READER/CASE:Case case7_1.4MPa 5/\
BOUNDARY:farfield_inlet,/DATA READER/CASE:Case case7_1.4MPa 5/BOUNDARY:inlet
      Instance Definition = From File
      Linear Blade Aligned Variable Available = false
      Number of Components in 360 = 1
      Number of Copies = 1
      Number of Data Instances = 1
      Number of Passages in 360 = 1
      Number of Passages in Component = 1
      Outlet Curve Mode = From Turbo Region
      Outlet Region = /DATA READER/CASE:Case case7_1.4MPa 5/BOUNDARY:outlet
      Principal Axis = Z
      Reflection Plane Option = From Plane
      Rotation Angle = 0 [degree]
      Rotation Axis From = 0.0, 0.0, 0.0
      Rotation Axis To = 1.0, 0.0, 0.0
      Rotation Axis Type = Principal Axis
      Shroud Curve Mode = From Turbo Region
      TBR User Theta Correction = 0.0
      Translation Vector = 0.0, 0.0, 0.0
      Turbo 360 Case without Periodics = false
      X = 0.0
      Y = 0.0
      Z = 0.0
    END
  END
END
DEFAULT INSTANCE TRANSFORM:Default Transform
  Angle Definition Method = Instances in 360
  Apply Reflection = false
  Apply Rotation = true
  Apply Translation = false
  Full Circle = Off
  Instancing Info From Domain = true
  Number of Components in 360 = 12
  Number of Copies = 1
  Number of Passages in 360 = 12
  Number of Passages in Component = 1
  Principal Axis = Z
  Reflection Plane Option = From Plane
  Rotation Angle = 0 [degree]
  Rotation Axis From = 0.0, 0.0, 0.0
  Rotation Axis To = 1.0, 0.0, 0.0
  Rotation Axis Type = Principal Axis
  Translation Vector = 0.0, 0.0, 0.0
  X = 0.0
  Y = 0.0
  Z = 0.0
END
DEFAULT LEGEND:Default Legend View 1
  Colour = 0, 0, 0
  Font = Sans Serif
  Legend Aspect = 0.07
  Legend Format = %10.3e
  Legend Orientation = Vertical
  Legend Plot = /CONTOUR:Mach
  Legend Position = 0.02, 0.15
  Legend Resolution = 256
  Legend Shading = Smooth
  Legend Size = 0.6
  Legend Ticks = 5
  Legend Title = Legend
  Legend Title Mode = Variable and Location
  Legend X Justification = Left
  Legend Y Justification = Top
  Related Object = View 1
  Show Legend Units = On
  Text Colour Mode = Default
  Text Height = 0.024
  Text Rotation = 0
  Visibility = true
END
DEFAULT LEGEND:Default Legend View 2
  Colour = 0, 0, 0
  Font = Sans Serif
  Legend Aspect = 0.07
  Legend Format = %10.3e
  Legend Orientation = Vertical
  Legend Plot = /POLYLINE:Polyline axis
  Legend Position = 0.02, 0.15
  Legend Resolution = 256
  Legend Shading = Smooth
  Legend Size = 0.6
  Legend Ticks = 5
  Legend Title = Legend
  Legend Title Mode = Variable and Location
  Legend X Justification = Left
  Legend Y Justification = Top
  Related Object = View 2
  Show Legend Units = On
  Text Colour Mode = Default
  Text Height = 0.024
  Text Rotation = 0
  Visibility = true
END
DEFAULT LEGEND:Default Legend View 3
  Colour = 0, 0, 0
  Font = Sans Serif
  Legend Aspect = 0.07
  Legend Format = %10.3e
  Legend Orientation = Vertical
  Legend Plot = /POLYLINE:Polyline axis
  Legend Position = 0.02, 0.15
  Legend Resolution = 256
  Legend Shading = Smooth
  Legend Size = 0.6
  Legend Ticks = 5
  Legend Title = Legend
  Legend Title Mode = Variable and Location
  Legend X Justification = Left
  Legend Y Justification = Top
  Related Object = View 3
  Show Legend Units = On
  Text Colour Mode = Default
  Text Height = 0.024
  Text Rotation = 0
  Visibility = true
END
DEFAULT LEGEND:Default Legend View 4
  Colour = 0, 0, 0
  Font = Sans Serif
  Legend Aspect = 0.07
  Legend Format = %10.3e
  Legend Orientation = Vertical
  Legend Plot = /POLYLINE:Polyline axis
  Legend Position = 0.02, 0.15
  Legend Resolution = 256
  Legend Shading = Smooth
  Legend Size = 0.6
  Legend Ticks = 5
  Legend Title = Legend
  Legend Title Mode = Variable and Location
  Legend X Justification = Left
  Legend Y Justification = Top
  Related Object = View 4
  Show Legend Units = On
  Text Colour Mode = Default
  Text Height = 0.024
  Text Rotation = 0
  Visibility = true
END
DEFORMATION INFO:
  Deformation Scale = 1
END
FILE PROCESSING:
  Path Stack = .
  Processing Mode = None
  Supress File Replacement Warnings = false
END
LIBRARY:
  CEL:
    EXPRESSIONS:
      Accumulated Time Step = 0
      Current Time Step = 0
      Reference Pressure = 1.16505e+06 [Pa]
      Sequence Step = 0
      Time = 0 [s]
      atstep = Accumulated Time Step
      ctstep = Current Time Step
      sstep = Sequence Step
      t = Time
      x ND = X/(42.1594043)
    END
  END
END
LINE:Line 1
  Apply Instancing Transform = On
  Colour = 1, 1, 0
  Colour Map = Default Colour Map
  Colour Mode = Constant
  Colour Scale = Linear
  Colour Variable = Pressure
  Colour Variable Boundary Values = Conservative
  Domain List = /DOMAIN GROUP:All Domains
  Draw Lines = Off
  Instancing Transform = /DEFAULT INSTANCE TRANSFORM:Default Transform
  Line Samples = 500
  Line Type = Sample
  Line Width = 2
  Max = 0.0 [Pa]
  Min = 0.0 [Pa]
  Option = Two Points
  Point 1 = 0.120089 [m], 0.00102916 [m], 0 [m]
  Point 2 = 0.120089 [m], 0.022 [m], 0 [m]
  Range = Global
  Visibility = Off
  OBJECT VIEW TRANSFORM:
    Apply Reflection = Off
    Apply Rotation = Off
    Apply Scale = Off
    Apply Translation = Off
    Principal Axis = Z
    Reflection Plane Option = XY Plane
    Rotation Angle = 0.0 [degree]
    Rotation Axis From = 0 [m], 0 [m], 0 [m]
    Rotation Axis To = 0 [m], 0 [m], 0 [m]
    Rotation Axis Type = Principal Axis
    Scale Vector = 1 , 1 , 1
    Translation Vector = 0 [m], 0 [m], 0 [m]
    X = 0.0 [m]
    Y = 0.0 [m]
    Z = 0.0 [m]
  END
END
LINE:Line 2
  Apply Instancing Transform = On
  Colour = 1, 1, 0
  Colour Map = Default Colour Map
  Colour Mode = Constant
  Colour Scale = Linear
  Colour Variable = Pressure
  Colour Variable Boundary Values = Conservative
  Domain List = /DOMAIN GROUP:All Domains
  Draw Lines = Off
  Instancing Transform = /DEFAULT INSTANCE TRANSFORM:Default Transform
  Line Samples = 500
  Line Type = Sample
  Line Width = 2
  Max = 0.0 [Pa]
  Min = 0.0 [Pa]
  Option = Two Points
  Point 1 = 12.0089 [cm], 0.102916 [cm], 0 [cm]
  Point 2 = 12.0089 [cm], 7 [cm], 0 [cm]
  Range = Global
  Visibility = Off
  OBJECT VIEW TRANSFORM:
    Apply Reflection = Off
    Apply Rotation = Off
    Apply Scale = Off
    Apply Translation = Off
    Principal Axis = Z
    Reflection Plane Option = XY Plane
    Rotation Angle = 0.0 [degree]
    Rotation Axis From = 0 [cm], 0 [cm], 0 [cm]
    Rotation Axis To = 0 [cm], 0 [cm], 0 [cm]
    Rotation Axis Type = Principal Axis
    Scale Vector = 1 , 1 , 1
    Translation Vector = 0 [cm], 0 [cm], 0 [cm]
    X = 0.0 [m]
    Y = 0.0 [m]
    Z = 0.0 [m]
  END
END
LINE:axis along spike
  Apply Instancing Transform = On
  Colour = 1, 1, 0
  Colour Map = Default Colour Map
  Colour Mode = Constant
  Colour Scale = Linear
  Colour Variable = Pressure
  Colour Variable Boundary Values = Conservative
  Domain List = /DOMAIN GROUP:All Domains
  Draw Lines = Off
  Instancing Transform = /DEFAULT INSTANCE TRANSFORM:Default Transform
  Line Samples = 500
  Line Type = Sample
  Line Width = 2
  Max = 0.0 [atm]
  Min = 0.0 [atm]
  Option = Two Points
  Point 1 = 12.0089 [cm], 0.102916 [cm], 0 [cm]
  Point 2 = 43.9878 [cm], 0.102916 [cm], 0 [cm]
  Range = Global
  Visibility = Off
  OBJECT VIEW TRANSFORM:
    Apply Reflection = Off
    Apply Rotation = Off
    Apply Scale = Off
    Apply Translation = Off
    Principal Axis = Z
    Reflection Plane Option = XY Plane
    Rotation Angle = 0.0 [degree]
    Rotation Axis From = 0 [cm], 0 [cm], 0 [cm]
    Rotation Axis To = 0 [cm], 0 [cm], 0 [cm]
    Rotation Axis Type = Principal Axis
    Scale Vector = 1 , 1 , 1
    Translation Vector = 0 [cm], 0 [cm], 0 [cm]
    X = 0.0 [cm]
    Y = 0.0 [cm]
    Z = 0.0 [cm]
  END
END
MASS FLOW CALC OPTION ON PHYSICAL SURFACES:
  Option = Interpolated
END
POLYLINE:Polyline axis
  Apply Instancing Transform = On
  Boundary List = spike_wall
  Colour = 0, 1, 0
  Colour Map = Default Colour Map
  Colour Mode = Constant
  Colour Scale = Linear
  Colour Variable = Pressure
  Colour Variable Boundary Values = Conservative
  Contour Level = 1
  Contour Name = /CONTOUR:Press
  Domain List = /DOMAIN GROUP:All Domains
  Instancing Transform = /DEFAULT INSTANCE TRANSFORM:Default Transform
  Line Width = 2
  Location = spike_wall
  Max = 0.0 [atm]
  Min = 0.0 [atm]
  Option = Boundary Intersection
  Range = Global
  Visibility = On
  OBJECT VIEW TRANSFORM:
    Apply Reflection = Off
    Apply Rotation = Off
    Apply Scale = Off
    Apply Translation = Off
    Principal Axis = Z
    Reflection Plane Option = XY Plane
    Rotation Angle = 0.0 [radian]
    Rotation Axis From = 0 [cm], 0 [cm], 0 [cm]
    Rotation Axis To = 0 [cm], 0 [cm], 0 [cm]
    Rotation Axis Type = Principal Axis
    Scale Vector = 1 , 1 , 1
    Translation Vector = 0 [cm], 0 [cm], 0 [cm]
    X = 0.0 [cm]
    Y = 0.0 [cm]
    Z = 0.0 [cm]
  END
END
REPORT:
  Report Items = /TITLE PAGE,/REPORT/FILE INFORMATION OPTIONS,/REPORT/MESH \
STATISTICS OPTIONS,/REPORT/PHYSICS SUMMARY OPTIONS,/REPORT/SOLUTION SUMMARY \
OPTIONS,/REPORT/OPERATING MAPS,/COMMENT:User Data,/CHART:Mach along radial axis \
exit plane,/CHART:Pressure along axis
  FILE INFORMATION OPTIONS:
    Include In Report = true
    This Exists = true
  END
  MESH STATISTICS OPTIONS:
    Include In Report = true
    Show Connectivity Number = false
    Show Edge Length Ratio = false
    Show Element Volume Ratio = false
    Show Max Face Angle = false
    Show Min Face Angle = false
    Show Number of Elements = true
    Show Number of Hexahedra = false
    Show Number of Nodes = true
    Show Number of Polyhedra = false
    Show Number of Pyramids = false
    Show Number of Tetrahedra = false
    Show Number of Wedges = false
    This Exists = true
  END
  OPERATING MAPS:
    Include In Report = true
    This Exists = true
  END
  PHYSICS SUMMARY OPTIONS:
    Include In Report = true
    Show Boundary Physics = true
    Show Domain Physics = true
    This Exists = true
  END
  PREVIEW:
    This Exists = true
    OUTPUT SETTINGS:
      Chart Image Type = png
      Chart Size = Same As Figure
      Custom Chart Size Height = 384
      Custom Chart Size Width = 512
      Custom Figure Size Height = 384
      Custom Figure Size Width = 512
      Figure Image Type = png
      Figure Size = 512 x 384
      Fit Views = false
      This Exists = true
    END
  END
  PUBLISH:
    Default Report Name = Report
    Generate 3D Viewer Files = false
    Report Format = HTML
    Report Path = ./Report.htm
    Save Images In Separate Folder = true
    This Exists = true
    OUTPUT SETTINGS:
      Chart Image Type = png
      Chart Size = Same As Figure
      Custom Chart Size Height = 384
      Custom Chart Size Width = 512
      Custom Figure Size Height = 384
      Custom Figure Size Width = 512
      Figure Image Type = png
      Figure Size = 512 x 384
      Fit Views = false
      This Exists = true
    END
  END
  SOLUTION SUMMARY OPTIONS:
    Include In Report = false
    Show Boundary Flow Summary = true
    Show Force and Torque Summary = true
    Show Forces = true
    Show Torques = true
    This Exists = true
  END
END
SCALAR VARIABLE:Absolute Pressure
  Boundary Values = Conservative
END
SCALAR VARIABLE:Active Cell Partition
  Boundary Values = Conservative
END
SCALAR VARIABLE:Approximated Mass Flow
  Boundary Values = Conservative
END
SCALAR VARIABLE:Area
  Boundary Values = Conservative
END
SCALAR VARIABLE:Axial Coordinate
  Boundary Values = Conservative
END
SCALAR VARIABLE:Boundary Cell Distance
  Boundary Values = Conservative
END
SCALAR VARIABLE:Boundary Normal Distance
  Boundary Values = Conservative
END
SCALAR VARIABLE:Boundary Normal on Polyline axis X
  Boundary Values = Conservative
END
SCALAR VARIABLE:Boundary Normal on Polyline axis Y
  Boundary Values = Conservative
END
SCALAR VARIABLE:Boundary Normal on Polyline axis Z
  Boundary Values = Conservative
END
SCALAR VARIABLE:Boundary Volume Distance
  Boundary Values = Conservative
END
SCALAR VARIABLE:Cell Element Type
  Boundary Values = Conservative
END
SCALAR VARIABLE:Cell Equiangle Skew
  Boundary Values = Conservative
END
SCALAR VARIABLE:Cell Equivolume Skew
  Boundary Values = Conservative
END
SCALAR VARIABLE:Cell Id
  Boundary Values = Conservative
END
SCALAR VARIABLE:Cell Refine Level
  Boundary Values = Conservative
END
SCALAR VARIABLE:Cell Reynolds Number
  Boundary Values = Conservative
END
SCALAR VARIABLE:Cell Volume
  Boundary Values = Conservative
END
SCALAR VARIABLE:Cell Volume Change
  Boundary Values = Conservative
END
SCALAR VARIABLE:Cell Wall Distance
  Boundary Values = Conservative
END
SCALAR VARIABLE:Cell Weight
  Boundary Values = Conservative
END
SCALAR VARIABLE:Cell Zone Index
  Boundary Values = Conservative
END
SCALAR VARIABLE:Cell Zone Type
  Boundary Values = Conservative
END
SCALAR VARIABLE:Connectivity Number
  Boundary Values = Conservative
END
SCALAR VARIABLE:Curve Length on Polyline axis
  Boundary Values = Conservative
END
SCALAR VARIABLE:Daxial Velocity Dx
  Boundary Values = Conservative
END
SCALAR VARIABLE:Daxial Velocity Dy
  Boundary Values = Conservative
END
SCALAR VARIABLE:Density
  Boundary Values = Conservative
END
SCALAR VARIABLE:Density All
  Boundary Values = Conservative
END
SCALAR VARIABLE:Dradial Velocity Dx
  Boundary Values = Conservative
END
SCALAR VARIABLE:Dradial Velocity Dy
  Boundary Values = Conservative
END
SCALAR VARIABLE:Dt Dx
  Boundary Values = Conservative
END
SCALAR VARIABLE:Dt Dy
  Boundary Values = Conservative
END
SCALAR VARIABLE:Dynamic Pressure
  Boundary Values = Conservative
END
SCALAR VARIABLE:Dynamic Viscosity
  Boundary Values = Conservative
END
SCALAR VARIABLE:Eddy Viscosity
  Boundary Values = Conservative
END
SCALAR VARIABLE:Eddy Viscosity Ratio
  Boundary Values = Conservative
END
SCALAR VARIABLE:Edge Length Ratio
  Boundary Values = Conservative
END
SCALAR VARIABLE:Effective Prandtl Number
  Boundary Values = Conservative
END
SCALAR VARIABLE:Effective Thermal Conductivity
  Boundary Values = Conservative
END
SCALAR VARIABLE:Effective Viscosity
  Boundary Values = Conservative
END
SCALAR VARIABLE:Element Volume Inverse
  Boundary Values = Conservative
END
SCALAR VARIABLE:Element Volume Ratio
  Boundary Values = Conservative
END
SCALAR VARIABLE:Face Area Magnitude
  Boundary Values = Conservative
END
SCALAR VARIABLE:Face Area X
  Boundary Values = Conservative
END
SCALAR VARIABLE:Face Area Y
  Boundary Values = Conservative
END
SCALAR VARIABLE:Face Handedness
  Boundary Values = Conservative
END
SCALAR VARIABLE:Force X
  Boundary Values = Conservative
END
SCALAR VARIABLE:Force Y
  Boundary Values = Conservative
END
SCALAR VARIABLE:Force Z
  Boundary Values = Conservative
END
SCALAR VARIABLE:Heat Flux
  Boundary Values = Conservative
END
SCALAR VARIABLE:Interface Overlap Fraction
  Boundary Values = Conservative
END
SCALAR VARIABLE:Internal Energy
  Boundary Values = Conservative
END
SCALAR VARIABLE:Interpolated Mass Flow
  Boundary Values = Conservative
END
SCALAR VARIABLE:K Production
  Boundary Values = Conservative
END
SCALAR VARIABLE:Lambda 2 Criterion
  Boundary Values = Conservative
END
SCALAR VARIABLE:Length
  Boundary Values = Conservative
END
SCALAR VARIABLE:Local Speed Of Sound
  Boundary Values = Conservative
END
SCALAR VARIABLE:Local Speed of Sound
  Boundary Values = Conservative
END
SCALAR VARIABLE:Mach Number
  Boundary Values = Conservative
END
SCALAR VARIABLE:Mach Number In Stn Frame
  Boundary Values = Conservative
END
SCALAR VARIABLE:Mark Poor Elements
  Boundary Values = Conservative
END
SCALAR VARIABLE:Mass Flow
  Boundary Values = Conservative
END
SCALAR VARIABLE:Maximum Face Angle
  Boundary Values = Conservative
END
SCALAR VARIABLE:Mesh Velocity U
  Boundary Values = Conservative
END
SCALAR VARIABLE:Mesh Velocity V
  Boundary Values = Conservative
END
SCALAR VARIABLE:Minimum Face Angle
  Boundary Values = Conservative
END
SCALAR VARIABLE:N2d Cell Volume
  Boundary Values = Conservative
END
SCALAR VARIABLE:Normal X
  Boundary Values = Conservative
END
SCALAR VARIABLE:Normal Y
  Boundary Values = Conservative
END
SCALAR VARIABLE:Normal Z
  Boundary Values = Conservative
END
SCALAR VARIABLE:Normalized Force on Polyline axis X
  Boundary Values = Conservative
END
SCALAR VARIABLE:Normalized Force on Polyline axis Y
  Boundary Values = Conservative
END
SCALAR VARIABLE:Normalized Force on Polyline axis Z
  Boundary Values = Conservative
END
SCALAR VARIABLE:Normalized Q Criterion
  Boundary Values = Conservative
END
SCALAR VARIABLE:Orthogonal Quality
  Boundary Values = Conservative
END
SCALAR VARIABLE:Partition Neighbors
  Boundary Values = Conservative
END
SCALAR VARIABLE:Prandtl Number
  Boundary Values = Conservative
END
SCALAR VARIABLE:Pressure
  Boundary Values = Conservative
END
SCALAR VARIABLE:Pressure Coefficient
  Boundary Values = Conservative
END
SCALAR VARIABLE:Pressure Correction
  Boundary Values = Conservative
END
SCALAR VARIABLE:Q Criterion
  Boundary Values = Conservative
END
SCALAR VARIABLE:R Gas Constant
  Boundary Values = Conservative
END
SCALAR VARIABLE:Radial Angular Coordinate
  Boundary Values = Conservative
END
SCALAR VARIABLE:Reference Velocity Preconditioning
  Boundary Values = Conservative
END
SCALAR VARIABLE:Relative Total Pressure
  Boundary Values = Conservative
END
SCALAR VARIABLE:Relative Velocity Magnitude
  Boundary Values = Conservative
END
SCALAR VARIABLE:Residual Pressure
  Boundary Values = Conservative
END
SCALAR VARIABLE:Residual Temperature
  Boundary Values = Conservative
END
SCALAR VARIABLE:Residual Velocity Axial
  Boundary Values = Conservative
END
SCALAR VARIABLE:Residual Velocity Radial
  Boundary Values = Conservative
END
SCALAR VARIABLE:Rothalpy
  Boundary Values = Conservative
END
SCALAR VARIABLE:Skin Friction Coefficient
  Boundary Values = Conservative
END
SCALAR VARIABLE:Specific Heat Capacity At Constant Pressure
  Boundary Values = Conservative
END
SCALAR VARIABLE:Specific Heat Capacity at Constant Pressure
  Boundary Values = Conservative
END
SCALAR VARIABLE:Specific Heat Ratio
  Boundary Values = Conservative
END
SCALAR VARIABLE:Static Enthalpy
  Boundary Values = Conservative
END
SCALAR VARIABLE:Static Entropy
  Boundary Values = Conservative
END
SCALAR VARIABLE:Stored Cell Partition
  Boundary Values = Conservative
END
SCALAR VARIABLE:Strain Rate
  Boundary Values = Conservative
END
SCALAR VARIABLE:Stream Function
  Boundary Values = Conservative
END
SCALAR VARIABLE:Surface Heat Transfer Coefficient
  Boundary Values = Conservative
END
SCALAR VARIABLE:Surface Nusselt Number
  Boundary Values = Conservative
END
SCALAR VARIABLE:Surface Stanton Number
  Boundary Values = Conservative
END
SCALAR VARIABLE:Temperature
  Boundary Values = Conservative
END
SCALAR VARIABLE:Temperature Correction
  Boundary Values = Conservative
END
SCALAR VARIABLE:Thermal Conductivity
  Boundary Values = Conservative
END
SCALAR VARIABLE:Time Step
  Boundary Values = Conservative
END
SCALAR VARIABLE:Total Energy
  Boundary Values = Conservative
END
SCALAR VARIABLE:Total Enthalpy
  Boundary Values = Conservative
END
SCALAR VARIABLE:Total Enthalpy Deviation
  Boundary Values = Conservative
END
SCALAR VARIABLE:Total Pressure
  Boundary Values = Conservative
END
SCALAR VARIABLE:Total Temperature
  Boundary Values = Conservative
END
SCALAR VARIABLE:Total Temperature In Stn Frame
  Boundary Values = Conservative
END
SCALAR VARIABLE:Turbulence Eddy Dissipation
  Boundary Values = Conservative
END
SCALAR VARIABLE:Turbulence Intensity
  Boundary Values = Conservative
END
SCALAR VARIABLE:Turbulence Kinetic Energy
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity Angle
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity Axial
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity Correction Axial
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity Correction Radial
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity Radial
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity u
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity u.Gradient X
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity u.Gradient Y
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity u.Gradient Z
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity v
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity v.Gradient X
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity v.Gradient Y
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity v.Gradient Z
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity w
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity w.Gradient X
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity w.Gradient Y
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity w.Gradient Z
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Absolute Helicity
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Curl X
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Curl Y
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Curl Z
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Divergence
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Helicity
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Invariant Q
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Lambda 2
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Normal Eigen Helicity
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Real Eigen Helicity
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Real Eigenvalue
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Stretched Swirling Strength
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Swirling Discriminant
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Swirling Normal X
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Swirling Normal Y
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Swirling Normal Z
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Swirling Strength
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Swirling Vector X
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Swirling Vector Y
  Boundary Values = Conservative
END
SCALAR VARIABLE:Velocity.Swirling Vector Z
  Boundary Values = Conservative
END
SCALAR VARIABLE:Volume
  Boundary Values = Conservative
END
SCALAR VARIABLE:Vorticity
  Boundary Values = Conservative
END
SCALAR VARIABLE:Wall Adjacent Heat Transfer Coefficient
  Boundary Values = Conservative
END
SCALAR VARIABLE:Wall Adjacent Temperature
  Boundary Values = Conservative
END
SCALAR VARIABLE:Wall Heat Flux
  Boundary Values = Conservative
END
SCALAR VARIABLE:Wall Heat Transfer Coefficient
  Boundary Values = Conservative
END
SCALAR VARIABLE:Wall Shear X
  Boundary Values = Conservative
END
SCALAR VARIABLE:Wall Shear Y
  Boundary Values = Conservative
END
SCALAR VARIABLE:Wall Shear Z
  Boundary Values = Conservative
END
SCALAR VARIABLE:Wall Temperature
  Boundary Values = Conservative
END
SCALAR VARIABLE:Wall Temperature Thin
  Boundary Values = Conservative
END
SCALAR VARIABLE:X
  Boundary Values = Conservative
END
SCALAR VARIABLE:Y
  Boundary Values = Conservative
END
SCALAR VARIABLE:Yplus
  Boundary Values = Conservative
END
SCALAR VARIABLE:Ystar
  Boundary Values = Conservative
END
SCALAR VARIABLE:Z
  Boundary Values = Conservative
END
SYMBOL CONTROL:
  Symbol Size = 1
END
SYSTEM COLOUR MAP:Blue to White
  Colour Map Colours = 0, 0, 0, 1, 1, 1, 1, 1, 1, 1
  Colour Map Divisions = 2
  Colour Map Storage Type = System
  Colour Map Type = Gradient
END
SYSTEM COLOUR MAP:FLUENT Rainbow
  Colour Map Colours = 0, 0, 0, 1, 1, 0.278, 0, 1, 1, 1, 0.389, 0, 1, 0.5, 1, \
0.444, 0, 1, 0, 1, 0.667, 1, 1, 0, 1, 1, 1, 0, 0, 1
  Colour Map Divisions = 2
  Colour Map Storage Type = System
  Colour Map Type = Gradient
END
SYSTEM COLOUR MAP:Greyscale
  Colour Map Colours = 0, 0.01, 0.01, 0.01, 1, 1, 0.99, 0.99, 0.99, 1
  Colour Map Divisions = 2
  Colour Map Storage Type = System
  Colour Map Type = Gradient
END
SYSTEM COLOUR MAP:Inverse Greyscale
  Colour Map Colours = 0, 0.99, 0.99, 0.99, 1, 1, 0.01, 0.01, 0.01, 1
  Colour Map Divisions = 2
  Colour Map Storage Type = System
  Colour Map Type = Gradient
END
SYSTEM COLOUR MAP:Inverse Rainbow
  Colour Map Colours = 0, 1, 0, 0, 1, 0.10, 1, 0.5, 0, 1, 0.25, 1, 1, 0, 1, \
0.43, 0.5, 1, 0, 1, 0.50, 0, 1, 0, 1, 0.56, 0, 1, 0.5, 1, 0.75, 0, 1, 1, 1, 0.90,\
 0, 0.5, 1, 1, 1, 0, 0, 1, 1
  Colour Map Divisions = 2
  Colour Map Storage Type = System
  Colour Map Type = Gradient
END
SYSTEM COLOUR MAP:Inverse Rainbow 6
  Colour Map Colours = 0, 1, 0, 1, 1, 0.1, 1, 0, 0.5, 1, 0.2, 1, 0, 0, 1, 0.28,\
 1, 0.5, 0, 1, 0.4, 1, 1, 0, 1, 0.55, 0.5, 1, 0, 1, 0.6, 0, 1, 0, 1, 0.65, 0, 1, \
0.5, 1, 0.8, 0, 1, 1, 1, 0.92, 0, 0.5, 1, 1, 1, 0, 0, 1, 1
  Colour Map Divisions = 2
  Colour Map Storage Type = System
  Colour Map Type = Gradient
END
SYSTEM COLOUR MAP:Minimal Map
  Colour Map Colours = 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0
  Colour Map Divisions = 2
  Colour Map Storage Type = System
  Colour Map Type = Gradient
END
SYSTEM COLOUR MAP:Rainbow
  Colour Map Colours = 0, 0, 0, 1, 1, 0.10, 0, 0.5, 1, 1, 0.25, 0, 1, 1, 1, \
0.44, 0, 1, 0.5, 1, 0.50, 0, 1, 0, 1, 0.57, 0.5, 1, 0, 1, 0.75, 1, 1, 0, 1, 0.90,\
 1, 0.5, 0, 1, 1, 1, 0, 0, 1
  Colour Map Divisions = 2
  Colour Map Storage Type = System
  Colour Map Type = Gradient
END
SYSTEM COLOUR MAP:Rainbow 6
  Colour Map Colours = 0, 0, 0, 1, 1, 0.08, 0, 0.5, 1, 1, 0.2, 0, 1, 1, 1, \
0.35, 0, 1, 0.5, 1, 0.4, 0, 1, 0, 1, 0.45, 0.5, 1, 0, 1, 0.6, 1, 1, 0, 1, 0.72, \
1, 0.5, 0, 1, 0.8, 1, 0, 0, 1, 0.9, 1, 0, 0.5, 1, 1, 1, 0, 1, 1
  Colour Map Divisions = 2
  Colour Map Storage Type = System
  Colour Map Type = Gradient
END
SYSTEM COLOUR MAP:Transparency
  Colour Map Colours = 0, 1, 1, 1, 0, 1, 1, 1, 1, 1
  Colour Map Divisions = 2
  Colour Map Storage Type = System
  Colour Map Type = Gradient
END
SYSTEM COLOUR MAP:White to Blue
  Colour Map Colours = 0, 1, 1, 1, 1, 1, 0, 0, 1, 1
  Colour Map Divisions = 2
  Colour Map Storage Type = System
  Colour Map Type = Gradient
END
SYSTEM COLOUR MAP:Zebra
  Colour Map Colours = 0, 1, 1, 1, 1, 1.0, 0, 0, 0, 1
  Colour Map Divisions = 5
  Colour Map Storage Type = System
  Colour Map Type = Zebra
END
TITLE PAGE:
  Include ANSYS Logo = true
  Include Custom Logo = false
  Include Date = true
  Include TOC = true
  Show Captions in TOC = true
  Title Page Exists = true
END
UNIT SYSTEM:
  Custom Units Setting = Angle,degree,Force,N,Length,cm,Mass,kg,Pressure,atm,\
Temperature,K,Time,s,Velocity,m s^-1,Acceleration,m s^-2,Angular Velocity,radian \
s^-1,Angular Acceleration,radian s^-2,Area,m^2,Chemical Amount,mol,\
Compressibility,Pa^-1,Concentration,m^-3,Contact Resistance,m^2 s kg^-1,Current,\
A,Decay Constant,s^-1,Density,kg m^-3,Density Derivative wrt Pressure,m^-2 s^2,\
Density Derivative wrt Temperature,kg m^-3 K^-1,Dielectric Contact Resistance,\
F^-1 m^2,Dynamic Viscosity,Pa s,Electric Charge,A s,Electric Charge Density,A s \
m^-3,Electric Charge Transfer Coefficient,F m^-2,Electric Current Density,A m^-2,\
Electric Current Transfer Coefficient,A m^-2 V^-1,Electric Current Source,A m^-3,\
Electric Field,V m^-1,Electrical Conductivity,S m^-1,Electrical Contact \
Resistance,ohm m^2,Electrical Permittivity,A s V^-1 m^-1,Electrical Resistivity,\
ohm m,Energy,J,Energy Source,W m^-3,Energy Source Coefficient,W m^-3 K^-1,\
Enthalpy Variance,m^4 s^-4,Epsilon,m^2 s^-3,Epsilon Flux,W m^-2 s^-1,Epsilon \
Flux Coefficient,kg m^-2 s^-2,Epsilon Source,W m^-3 s^-1,Epsilon Source \
Coefficient,kg m^-3 s^-2,Flame Surface Density Source,m^-1 s^-1,Fracture Energy,\
J m^-2,Frequency,Hz,Heat Flux in,W m^-2,Heat Transfer Coefficient,W m^-2 K^-1,\
Interphase Transfer Coefficient,kg m^-2 s^-1,Inverse Angle,degree^-1,Inverse \
Area,m^-2,Inverse Length,m^-1,k,m^2 s^-2,k Flux,W m^-2,k Flux Coefficient,kg \
m^-2 s^-1,k Source,W m^-3,k Source Coefficient,kg m^-3 s^-1,Kinematic \
Diffusivity,m^2 s^-1,Luminance,cd,Magnetic Field,A m^-1,Magnetic Flux,Wb,\
Magnetic Flux Density,T,Magnetic Induction,T,Magnetic Potential,T m,Magnetic \
Permeability,H m^-1,Mass Concentration,kg m^-3,Mass Concentration Rate,kg m^-3 \
s^-1,Mass Flow,kg s^-1,Mass Flow in,kg s^-1,Mass Flux,kg s^-1 m^-2,Mass Flux \
Coefficient,kg s^-1 m^-2,Mass Flux Pressure Coefficient,kg s^-1 m^-2 Pa^-1,Mass \
Fraction,kg kg^-1,Mass Moment of Inertia,kg m^2,Mass Source,kg s^-1 m^-3,Mass \
Source Coefficient,kg s^-1 m^-3,Mass Source Pressure Coefficient,kg s^-1 m^-3 \
Pa^-1,Total Mass Source Pressure Coefficient,kg s^-1 Pa^-1,Molar Concentration,\
mol m^-3,Molar Concentration Henry Coefficient,Pa m^3 mol^-1,Molar Concentration \
Rate,mol m^-3 s^-1,Molar Energy,J mol^-1,Molar Entropy,J mol^-1 K^-1,Molar \
Fraction,mol mol^-1,Molar Mass,kg kmol^-1,Molar Volume,m^3 mol^-1,Moment,N m,\
Momentum Source,kg m^-2 s^-2,Momentum Source Lin Coeff,kg m^-3 s^-1,Momentum \
Source Quad Coeff,kg m^-4,Money,GBP,Omega Source,kg m^-3 s^-2,Per Mass,kg^-1,Per \
Mass Flow,s kg^-1,Per Time,s^-1,Pressure Derivative wrt Temperature,Pa K^-1,\
Pressure Derivative wrt Volume,Pa kg m^-3,Power,W,Shear Strain Rate,s^-1,Shock \
Velocity,s m^-1,Solid Angle,sr,Soot Cross Coefficient,m^3 mol^-1 s^-1,Soot PX \
Factor,mol^1 kg^-1 s^-1,Specific,kg kg^-1,Specific Concentration,mol kg^-1,\
Specific Energy,J kg^-1,Specific Enthalpy,J kg^-1,Specific Entropy,J kg^-1 K^-1,\
Specific Flame Surface Density,m^2 kg^-1,Specific Heat Capacity,J kg^-1 K^-1,\
Specific Volume,kg^-1 m^3,Surface Charge Density,A s m^-2,Surface Tension,N m^-1,\
InvTemp1,K^-1,InvTemp2,K^-2,InvTemp3,K^-3,InvTemp4,K^-4,Temperature Variance,K^2,\
Temperature Variance Source,kg m^-3 s^-1 K^2,Thermal Conductivity,W m^-1 K^-1,\
Thermal Contact Resistance,W^-1 m^2 K,Thermal Expansivity,K^-1,Torque,N m,\
Torsional Spring Constant,N m radian^-1,Total Radiative Intensity,W m^-2 sr^-1,\
Turbulent Heat Flux,m^3 s^-3,Voltage,V,Volume,m^3,Volumetric,kg m^-3,Volumetric \
Flow,m^3 s^-1,Volumetric Flow in,m^3 s^-1,Number Source,m^-3 s^-1
  Preferred Units System = Custom
  Update Units to Preferred = Off
END
USER SCALAR VARIABLE:X nd
  Boundary Values = Conservative
  Calculate Global Range = Off
  Component Index = 1
  Expression = x ND
  Recipe = Expression
  Variable to Copy = Pressure
  Variable to Gradient = Pressure
END
VECTOR VARIABLE:Boundary Normal on Polyline axis
  Boundary Values = Conservative
END
VECTOR VARIABLE:Force
  Boundary Values = Conservative
END
VECTOR VARIABLE:Normal
  Boundary Values = Conservative
END
VECTOR VARIABLE:Normalized Force on Polyline axis
  Boundary Values = Conservative
END
VECTOR VARIABLE:Velocity
  Boundary Values = Conservative
END
VECTOR VARIABLE:Velocity u.Gradient
  Boundary Values = Conservative
END
VECTOR VARIABLE:Velocity v.Gradient
  Boundary Values = Conservative
END
VECTOR VARIABLE:Velocity w.Gradient
  Boundary Values = Conservative
END
VECTOR VARIABLE:Velocity.Curl
  Boundary Values = Conservative
END
VECTOR VARIABLE:Velocity.Swirling Normal
  Boundary Values = Conservative
END
VECTOR VARIABLE:Velocity.Swirling Vector
  Boundary Values = Conservative
END
VECTOR VARIABLE:Wall Shear
  Boundary Values = Conservative
END
VIEW:View 1
  Angular Coord Shift = 0.0
  Auto Center = false
  Axis Visibility = On
  Border Visibility = false
  Camera Mode = User Specified
  Clip Scene = false
  Coord Transform = Cartesian
  Hide Difference Case = false
  Highlight Type = Surface Mesh
  Is A Figure = false
  Light Angle = 50, 110
  Object Visibility List = /DEFAULT LEGEND:Default Legend View 1,/\
POLYLINE:Polyline axis,/WIREFRAME:Wireframe
  Projection = Orthographic
  Ruler Visibility = On
  Standard View = Isometric Y
  CAMERA:
    Option = Pivot Point and Quaternion
    Pan = 0,0
    Pivot Point = 0.229082,0.056326,2.32831e-10
    Rotation = -90, 0, 0
    Rotation Quaternion = 0.409992,0.675331,-0.143072,0.596142
    Scale = 6.77538
    Send To Viewer = True
  END
END
VIEW:View 2
  Angular Coord Shift = 0.0
  Auto Center = false
  Axis Visibility = On
  Border Visibility = false
  Camera Mode = User Specified
  Clip Scene = false
  Coord Transform = Cartesian
  Hide Difference Case = false
  Highlight Type = Surface Mesh
  Is A Figure = false
  Light Angle = 50, 110
  Object Visibility List = /DEFAULT LEGEND:Default Legend View 2,/\
WIREFRAME:Wireframe
  Projection = Orthographic
  Ruler Visibility = On
  Standard View = Isometric Y
  CAMERA:
    Option = Pivot Point and Quaternion
    Pan = 0,0
    Pivot Point = 0,0,0
    Rotation = -90, 0, 0
    Rotation Quaternion = 0.279848,-0.364705,-0.115917,0.880476
    Scale = 1
    Send To Viewer = True
  END
END
VIEW:View 3
  Angular Coord Shift = 0.0
  Auto Center = false
  Axis Visibility = On
  Border Visibility = false
  Camera Mode = User Specified
  Clip Scene = false
  Coord Transform = Cartesian
  Hide Difference Case = false
  Highlight Type = Surface Mesh
  Is A Figure = false
  Light Angle = 50, 110
  Object Visibility List = /DEFAULT LEGEND:Default Legend View 3,/\
WIREFRAME:Wireframe
  Projection = Orthographic
  Ruler Visibility = On
  Standard View = Isometric Y
  CAMERA:
    Option = Pivot Point and Quaternion
    Pan = 0,0
    Pivot Point = 0,0,0
    Rotation = -90, 0, 0
    Rotation Quaternion = 0.279848,-0.364705,-0.115917,0.880476
    Scale = 1
    Send To Viewer = True
  END
END
VIEW:View 4
  Angular Coord Shift = 0.0
  Auto Center = false
  Axis Visibility = On
  Border Visibility = false
  Camera Mode = User Specified
  Clip Scene = false
  Coord Transform = Cartesian
  Hide Difference Case = false
  Highlight Type = Surface Mesh
  Is A Figure = false
  Light Angle = 50, 110
  Object Visibility List = /DEFAULT LEGEND:Default Legend View 4,/\
WIREFRAME:Wireframe
  Projection = Orthographic
  Ruler Visibility = On
  Standard View = Isometric Y
  CAMERA:
    Option = Pivot Point and Quaternion
    Pan = 0,0
    Pivot Point = 0,0,0
    Rotation = -90, 0, 0
    Rotation Quaternion = 0.279848,-0.364705,-0.115917,0.880476
    Scale = 1.07689
    Send To Viewer = True
  END
END
VIEWPORT MANAGER:
  Background Colour = 0.42, 0.55, 0.871
  Background Colour 2 = 1,1,1
  Background Colour Type = Top-Bottom Gradient
  Background Image = Mountains
  Background Image Mapping = Flat
  Background Image Type = Predefined
  Background Type = Colour
  Global Edge Colour = 0,0,0
  Global Text Colour = 0,0,0
  Maximized Viewport = -1
  Synchronize Camera = false
  Synchronize Visibility = true
  View Length Units = cm
  Viewport 1 View = View 1
  Viewport 2 View = View 2
  Viewport 3 View = View 3
  Viewport 4 View = View 4
  Viewport Layout = No Split
  X Split = 0.5
  Y Split = 0.5
END
WIREFRAME:Wireframe
  Apply Instancing Transform = On
  Colour = 0, 0, 0
  Domain List = All Domains
  Edge Angle = 30 [degree]
  Instancing Transform = Default Transform
  Line Colour Mode = Default
  Line Width = 1
  Show Surface Mesh = Off
  Visibility = On
END
